@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,700');
@import url('https://fonts.googleapis.com/css?family=Raleway:400,600,700,800');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img{
    max-width: 100%;
    display: block;
}
body{
    font-family: 'Montserrat', sans-serif;
}

.container{
    width: 1170px;
    margin: 0 auto;
    overflow: hidden;
}

header{
    padding: 25px 0px;
}
.top-header{
    background: #efefef;
    padding: 10px 0px;
}
.buy-btc{
    width: 50%;
    float: left;
}
.buy-btc p{
    color: #7f7f7f;
    font-size: 12px;
    line-height: 1.5;
    font-weight: 400;
}
.top-menu{
    width: 50%;
    float: left;
}
.top-menu ul{
    text-align: right;
}
.top-menu ul li{
    list-style: none;
    display: inline-block;
}
.top-menu ul li a{
    color: #7f7f7f;
    font-size: 12px;
    text-decoration: none;
    text-transform: uppercase;
    display: block;
    padding-left: 20px;
    font-weight: 500;
}
.top-menu ul li a:hover{
    color: #ff9b1a;
}

.logo{
    width: 20%;
    float: left;
}
.logo img{
    width: 60%;
}
nav{
    width: 80%;
    float: left;
}
nav ul{
    text-align: right;
    padding-top: 3px;
}
nav ul li{
    list-style: none;
    display: inline-block;
}
nav ul li a{
    font-size: 14px;
    color: #161616;
    text-decoration: none;
    text-transform: uppercase;
    padding-left: 20px;
    display: block;
    font-weight: 500;
}
nav ul li a:hover{
    color: #ff9b1a;
}

nav ul li:last-child a{
    background: #ff9b1a;
    padding: 10px 20px;
    color: #fff;
    border-radius: 30px;
    margin-left: 45px;
    letter-spacing: 1px;
    transition: 0.5s all ease;
}

nav ul li:last-child a:hover{
    background: #e68609;
}


.banner-section{
    background: url(../images/banner.jpg);
    min-height: 600px;
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}
.banner-section:before{
    content: "";
    background: #060606c2;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: absolute;
}
.banner-section:after{
    /* content: ""; */
}

.overly{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}
.banner-content-area{
    position: absolute;
    color: #ffffff;
    width: 100%;
    top: 50%;
    transform: translateY(-50%);
}
.banner-content{
    text-align: center;
}
.banner-content h1{
    font-size: 52px;
    color: #efefef;
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
}
.banner-content ul{
    padding: 25px 0px;
    font-family: 'Raleway', sans-serif;
}
.banner-content ul li{
    display: inline-block;
    padding: 10px 60px;
}
.banner-content ul li b{
    display: block;
    font-size: 20px;
    font-weight: 700;
}
.banner-content ul li span{
    font-size: 14px;
    font-weight: 700;
}
.banner-content a{
    padding: 12px 30px;
    color: #fff;
    border-radius: 30px;
    margin-left: 30px;
    letter-spacing: 1px;
    display: inline-block;
    text-decoration: none;
    text-transform: uppercase;
    border: 1px solid;
}
.banner-content a.joinus{
    background: #ff9b1a;
    border: 0px solid;
}


.feature-section{
    padding: 40px 0px;
    padding-top: 80px;
}
.feature{
    width: 33.33%;
    float: left;
    padding: 15px;
}
.feature-content{
    border: 1px solid #e1e1e1;
    padding: 20px;
    text-align: center;
    position: relative;
}
.feature-content:hover:before{
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#cca206+0,f6710e+100 */
    background: #cca206; /* Old browsers */
    background: -moz-linear-gradient(top, #cca206 0%, #f6710e 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #cca206 0%,#f6710e 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #cca206 0%,#f6710e 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cca206', endColorstr='#f6710e',GradientType=0 ); /* IE6-9 */

    opacity: 0.9;
}

.z-index{
    position: relative;
}

.feature-content:hover{
    background: url(../images/bitcoin.png);
    background-size: cover;
    color: #fff;
}

.feature-content i{font-size: 75px;}
.feature-content h2{
    font-size: 17px;
    font-weight: 600;
    padding: 20px 0px;
}
.feature-content p{
    font-size: 14px;
    padding-bottom: 20px;
}

.service-section{
    padding: 40px 0px;
}
.service{
    overflow: hidden;
}
.servicetitle{
    width: 500px;
    text-align: center;
    margin: 0 auto;
}
.servicetitle h2{
    color: #2b2b2b;
    text-transform: uppercase;
    font-size: 24px;
    padding-bottom: 15px;
}
.servicetitle p{
    color: #636363;
    font-size: 14px;
}
.service-content{
    font-family: 'Raleway', sans-serif;
    width: 33.33%;
    float: left;
    padding: 50px 10px;
    text-align: center;
}
.service-content img{
    margin: 0 auto;
    padding-bottom: 20px;
}
.service-content h4{
    font-size: 18px;
    color: #2b2b2b;
    padding-bottom: 15px;
    font-weight: 700;
}
.service-content p{
    font-size: 14px;
    color: #616161;
    font-weight: 500;
    line-height: 22px;
}
.viewmore{
    text-align: center;
}
.viewmore a{
    font-family: 'Raleway', sans-serif;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 500;
    color: #2b2b2b;
    border: 1px solid #8e8e8e;
    display: inline-block;
    padding: 13px 20px;
    font-size: 14px;
    border-radius: 30px;
    font-weight: 700;
    transition: 0.5s all ease;
}

.viewmore a:hover{
    background: #fa8e2b;
    border: 1px solid #fa8e2b;
    color: #fff;
}

.step-section:before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: #00000094;
}

.step-section{
    background: url(../images/bitbanner.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 100px;
    background-position: center center;
    margin-top: 40px;
    position: relative;
}
.phone-section{
    width: 50%;
    float: left;
}
.phone{
    position: relative;
}
.phone img{
    margin: 0 auto;
}
.phone img:last-child{
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%,-60%);
    width: 220px;
}
.steps{
    width: 50%;
    float: left;
    color: #fff;
    font-family: 'Raleway', sans-serif;
    position: relative;
}
.steps h1{
    font-size: 24px;
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 50px;
    position: relative;
    padding-bottom: 15px;
}
.steps h1:after{
    content: "";
    position: absolute;
    width: 80px;
    height: 5px;
    background: #f78f2f;
    bottom: 0;
    left: 0;
}
.steps ul{
    overflow: hidden;
    margin-bottom: 20px;
    padding: 15px;
}
.steps ul li:first-child{

width: 15%;
}
.steps ul li:last-child{

width: 85%;
}
.steps ul li{
    list-style: none;
    display: inline-block;
    float: left;
}
.steps ul li span{
    width: 50px;
    height: 50px;
    display: block;
    border: 1px solid #f78f2f;
    border-radius: 5px;
    transform: rotate(45deg);
    margin-top: 7px;
}
.steps ul li h3{
    font-size: 18px;
    margin-bottom: 10px;
}
.steps ul li p{
    font-size: 14px;
}

.counter-section{
    background: #ff9b1a;
    padding: 30px 0px;
    font-family: 'Raleway', sans-serif;
    margin-bottom: 40px;
}
.counter{
    width: 25%;
    float: left;
    text-align: center;
    color: #fff;
}
.counter b{
    display: block;
    font-size: 50px;
    padding-bottom: 20px;
    line-height: 30px;
}
.counter span{
    font-size: 18px;
    text-transform: uppercase;
}

.bit-logo-section{
    padding: 50px 0px;
}
.bit-logo{
    position: relative;
    text-align: center;
    padding: 50px 0px;
    width: 700px;
    margin: 0 auto;
}
.bit-logo img{
    margin: 0 auto;
    width: 350px;
}
.lock{
    position: absolute;
}
.lock span{position: relative;line-height: 24px;text-align: center;display: inline-block;font-size: 15px;}
.lock span:after{
    content: "";
    position: absolute;
    border: 1px solid;
    width: 30px;
    height: 30px;
    top: -2px;
    left: -8px;
    transform: rotate(45deg);
    border-radius: 5px;
}
.lock span i{}
.lock p{
    margin-top: 20px;
}

.lock-one{
    top: 8px;
    left: 50px;
}
.lock-two{
    top: 50%;
    left: 0;
    transform: translate(0, -50%);
}
.lock-three{
    bottom: 0;
    left: 50px;
}
.lock-four{
    top: 8px;
    right: 50px;
}
.lock-five{
    top: 50%;
    right: 0;
    transform: translate(0, -50%);
}
.lock-six{
    bottom: 0;
    right: 50px;
}

.danger{}
.success{}
.info{}
.danger span{
    color: #f85554;
}
.success span{
    color: #63cd68;
}
.info span{position: relative;text-align: center;display: inline-block;color: #43c5ca;}

.team-section{
    padding: 40px 0px;
}
.team{}
.team-member{
    width: 33.33%;
    float: left;
    text-align: center;
    padding-top: 60px;
}
.team-member img{
    margin: 0 auto;
}
.team-member h5{
    font-size: 18px;
    color: #1e1e1e;
    padding-top: 30px;
    padding-bottom: 15px;
}
.team-member p{
    text-transform: uppercase;
    font-size: 14px;
    color: #ff9b1a;
}

.consulting-section{
    background: url(../images/conbanner.jpg);
    min-height: 520px;
    background-size: cover;
    background-position: center center;
    margin: 40px 0px;
    background-repeat: no-repeat;
}
.consulting{
}
.consulting h2{
    text-align: center;
    font-size: 24px;
    text-transform: uppercase;
    color: #fff;
    padding: 60px 0px;
    font-weight: 500;
}
.ne-form{}
.ne-form input{
    width: 31%;
    float: left;
    padding: 11px 20px;
    margin-left: 39px;
    background: none;
    color: #fff;
    border-radius: 6px;
    border: 1px solid #fff;
    margin-bottom: 25px;
}
.ne-form input:first-child{
    margin-left: 0px;
}
.message{}
.message textarea{
    width: 100%;
    height: 150px;
    background: none;
    border-radius: 8px;
    border: 1px solid #fff;
    padding: 13px 20px;
}
.submit{
    text-align: center;
}
.submit input{
    background: #ff9b1a;
    border: 0px;
    padding: 10px 40px;
    font-size: 15px;
    color: #fff;
    text-transform: uppercase;
    border-radius: 30px;
    margin-top: 45px;
    cursor: pointer;
}

.blog-section{
    padding: 40px 0px;
}
.blog{
    width: 33.33%;
    float: left;
    padding: 60px 15px;
    padding-bottom: 0px;
}
.blog-content{
    border: 1px solid #d2d2d2;
    border-radius: 10px;
    position: relative;
}
.blog-content img{}
.blog-content span{
    width: 40px;
    height: 40px;
    background: #ff9b1a;
    display: inline-block;
    text-align: center;
    color: #fff;
    border-radius: 50%;
    line-height: 40px;
    position: absolute;
    transform: translateY(-48%);
    margin-left: 20px;
}
.blog-content span i{font-size: 15px;}
.blog-content h3{
    font-size: 16px;
    color: #2b2b2b;
    padding: 20px;
    padding-top: 50px;
}
.blog-content p{
    font-size: 14px;
    padding: 0px 20px;
    padding-bottom: 20px;
    color: #6e6e6e;
}
.admin{}
.admin h6{
    width: 55%;
    float: left;
    color: #6e6e6e;
    font-size: 12px;
    padding: 10px 68px;
    font-weight: 500;
}
.admin h5{
    width: 45%;
    float: left;
    text-align: right;
    padding: 10px;
    font-size: 12px;
    color: #6e6e6e;
    font-weight: 500;
}

.feedback-section{
    padding: 40px 0px;
}
.servicetitle{}
.servicetitle h2{}
.feedback-text{
    width: 650px;
    text-align: center;
    font-weight: 500;
    display: block;
    margin: 0 auto;
    margin-top: 40px;
    margin-bottom: 40px;
}
.feedback-text p{
    font-size: 14px;
    color: #6e6e6e;
}
.feedback-info{
    position: relative;
}
.feedback-info img{
    display: block;
    margin: 0 auto;
}
.feedback-info span{
    width: 40px;
    height: 40px;
    background: #ff9b1a;
    display: block;
    border-radius: 50%;
    text-align: center;
    line-height: 40px;
    position: absolute;
    top: 70%;
    transform: translatex(1509%);
    border: 2px solid #fff;
}
.feedback-info span i{}
.feed-name{text-align: center;}
.feed-name h2{
    font-size: 16px;
    color: #1c1c1c;
    margin: 30px 0px;
}
.feed-name p{
    font-size: 14px;
    color: #ff9b1a;
}

footer{
     padding: 70px 0px;
     background: #101010;
     color: #fff;
     border-top: 5px solid #fa8e2b;
}
.footer{}
.footer-content{
    width: 25%;
    float: left;
}
.footer-content img{
    margin-bottom: 40px;
}
.footer-content p{
    font-size: 14px;
    color: #989898;
    width: 230px;
    margin-bottom: 30px;
}
.footer-content ul{}
.footer-content ul li{
    list-style: none;
    float: left;
    display: inline-block;
}
.footer-content ul li a{
    width: 30px;
    height: 30px;
    display: block;
    margin-right: 15px;
    border-radius: 50%;
    color: #3d3c3a;
    text-align: center;
    line-height: 30px;
    border: 1px solid #3d3c3a;
    font-size: 13px;
}
.footer-content ul li a:hover{
    border: 1px solid #00aced;
    color: #00aced;
}
.footers{}
.footers h2{
    font-size: 18px;
    padding: 35px 0px;
    padding-top: 5px;
}
.footers ul{
    margin: 25px 0px;
}
.footers ul li{
    display: block;
    float: none;
    width: 90%;
    color: #989898;
    font-size: 14px;
}
.footers ul li i{
    width: 20%;
    float: left;
    font-size: 30px;
}
.footerlink{}
.footerlink h2{
    font-size: 18px;
    padding: 44px 0px;
    padding-top: 5px;
}
.footerlink ul{}
.footerlink ul li{
    list-style: none;
    float: none;
    display: block;
}
.footerlink ul li a{
    text-decoration: none;
    width: 0px;
    height: 0px;
    border: 0px;
    display: inline-table;
    font-weight: 600;
    color: #989898;
    line-height: 2;
}
.footerlink ul li a:hover{
    color: #fff;
    width: 0px;
    height: 0px;
    border: 0px;
}
.newslatter{
    position: relative;
}
.newslatter h2{
    font-size: 18px;
    padding: 44px 0px;
    padding-top: 5px;
}
.newslatter p{}
.newslatter input{
    width: 100%;
    height: 45px;
    padding: 20px;
    border-radius: 30px;
    border: 0px;
}

.newslatter span{
  
}
.newslatter span a{
      width: 40px;
    height: 40px;
    background: #fa8e2b;
    display: block;
    border-radius: 50%;
    text-align: center;
    line-height: 40px;
    position: absolute;
    top: 76%;
    right: 1%;
    color: #fff;
}

.footer-bottom{
    background: #000;
    border-top: 0px;
    padding: 15px 0px;
}
.bottom-text{}
.bottom-text p{
    color: #504e4e;
    font-size: 12px;
    font-weight: 700;
    text-align: center;
}